<!-- CARRUSEL BRANDS -->
<div class="carousel">
    <div class="carousel__container">
        <button class="carousel__prev">
            <i class='bx bx-chevron-left'></i>
        </button>
        <div class="carousel__list" style="text-align: center;"></div>
        <button class="carousel__next">
            <i class='bx bx-chevron-right'></i>
        </button>
    </div>
    <div class="carousel__indicator"></div>
</div>

<!-- CATEGORIES -->
<section id="port-sec">
    <div class="container">

        <div class="row pad-row">
            <div class="col-md-12 col-sm-12">
                <ul class="portfolio-items2 col-3">
                    <h2 class="cat">Categories Cars</h2>
                    <div id="containerCategories"></div>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- TYPE CARS -->
<section id="port-sec">
    <div class="container">

        <div class="row pad-row">
            <div class="col-md-13 col-sm-13">
                <ul class="portfolio-items col-3">
                    <h2 class="cat">Type Cars</h2>
                    <div id="containerTypecar"></div>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- APPI BOOKS -->
<div class="content_appi_books">
    <div id="books_content" class="books_content"></div>
    <div id="btn-more-books" class="btn-more-books"></div>
</div>