<html>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="div-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="div-logo">
                    <a class="navbar-brand" id="m_logo"><img id="img_logo" alt="LOGO"></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="menu">
                    <li>
                        <a id="m_home" data-tr="INICIO"></a>
                    </li>
                    <li class="opc_exceptions">
                        <a id="m_exceptions" data-tr="EXCEPCIONES"></a>
                    </li>
                    <li id="opc_shop">
                        <a id="m_shop" data-tr="TIENDA"></a>
                    </li>
                    <li id="opc_contact">
                        <a id="m_contact" data-tr="CONTACTO"></a>&nbsp;&nbsp;
                    </li>

                    <li><button class="lang-btn" id="btn-val"></buttton>
                    </li>
                    <li><button class="lang-btn" id="btn-es"></buttton>
                    </li>
                    <li><button class="lang-btn" id="btn-en"></buttton>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <script>
        $('#m_logo').attr('href', '?module=home&op=view');
        $('#m_home').attr('href', '?module=home&op=view');
        $('#m_exceptions').attr('href', '?module=ctrl_exceptions&op=list_exceptions');
        $('#m_shop').attr('href', '?module=shop&op=list');
        $('#m_contact').attr('href', '?module=contact&op=view');
        $('#img_logo').attr('src', window.location.origin + '/Framework_Concesionaire/views/img/logo.png');
    </script>
</body>

</html>