<html>

<body>
    <!-- ======SEARCH====== -->
    <div class="header__container">
        <div class="search__form">
            <select id="type_car"></select>
            <select id="brand_car"></select>
            <input type="text" id="autocom" autocomplete="off" />
            <input type="button" value="..." id="search-btn" />

            <ul id=nav_desp_user>
                <li class="log_princ" style="width:50px;height:50px;"><button class="log-icon"></button>
                    <ul>
                        <li id="des_inf_user"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="search_auto"></div>
    </div>


</body>

</html>