<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECO CAR</title>
    <link rel="shortcut icon" href="views\img\icon.png">

    <!-- TOASTER -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="views/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="views/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="views/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- CSS PAGINA -->
    <link href="views/css/style.css" rel="stylesheet" type="text/css" />

    <!-- FONTAWESOME -->
    <link href="views/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    <!-- LIBRERIA JQUERY UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
    <!-- TOASTR LIBRERIA -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <!-- LIBRERIA DATATABLE -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/10.1.16/css/jquery.dataTables.min.css" /> -->

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <!--1.11.4-->
    <!-- <script src="https://cdn.datatables.net/10.1.16/js/jquery.dataTables.min.js"></script> -->

    <!-- Mis LINKS  -->
    <script src="module/car/model/valid_car.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/views/js/translate.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/module/search/model/ctrl_search.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/views/js/main.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/views/js/activity_user.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#fecha').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:2022',
                onSelect: function(selectedDate) {}
            });
        });
    </script>

</head>