<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECO CAR</title>
    <link rel="shortcut icon" href="views\img\icon.png">

    <!-- JQUERY AJAX  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

    <!-- TOASTER -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <!-- BOOTPAGE-pagination -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="views/css/bootstrap.css" rel="stylesheet" />

    <!--SLICK CARRUSEL -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- MAPBOX -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

    <!-- FONTAWESOME -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- CSS PAGINA -->
    <link href="views/css/style.css" rel="stylesheet" type="text/css" />

    <!-- MIS LINKS-Controloadors -->
    <script type="text/javascript" src="/Framework_Concesionaire/module/shop/model/ctrl_shop.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/module/search/model/ctrl_search.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/views/js/translate.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/views/js/main.js"></script>
    <script type="text/javascript" src="/Framework_Concesionaire/views/js/activity_user.js"></script>



</head>