<html>

<body>

    <!-- filters  -->
    <div class="div_filters" id="div_filters">
        <form name="form_filters" class="form_filters">
            <div class="filters_content"></div>
        </form>
    </div>

    <!-- list-cars -->
    <div class="container_shop" id="content_shop_cars"> </div>
    <div id='div_map_shop'></div>


    <!-- details-car -->
    <div id="details-shop">
        <div class="date_img" id="container-date-img"> </div>
        <div class="date_car" id="container-date-img"> </div>
    </div>
    <div id='div_map_details'></div>


    <!-- div_spiner -->
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <!-- div coches relacioandos -->
    <div class="results"></div>

    <!-- paginacio -->
    <div id="pagination"></div>

</body>

</html>